<form action="/manageBooking" method="POST">
    <fieldset>
        <label>OpenID:</label>
        <input type="text" name='username' value='<%=profile.displayName%>' disabled>
        <input type="text" name='useremail' value="<%=profile.emails[0].value%>" disabled>

		<select name="roomnumber">
		  <%for (var i= 0; i < rooms.length; i++) {%>  
		  	<option value='<%=rooms[i].RoomNumber%>'><%=rooms[i].RoomNumber%> </option>
		  <%} %>
		</select>
        <input type="text" name="reason"/><br/>
        <input type="submit" value="submit"/>
    </fieldset>
</form>