<form action="/manageBooking" method="POST">
    <fieldset>
        <label>Booking Form </label> <br/>
        User: <input type="text" name='username' value='<%=profile.displayName%>' disabled> <br/>
        Email: <input type="text" name='useremail' value="<%=profile.emails[0].value%>" disabled> <br/>

		Room Number <select name="roomnumber">
		  <%for (var i= 0; i < rooms.length; i++) {%>  
		  	<option value='<%=rooms[i].RoomNumber%>'><%=rooms[i].RoomNumber%> </option>
		  <%} %>
		</select> <br/>
        Reason: <input type="text" name="reason"/><br/>
        <input type="submit" value="submit"/>
    </fieldset>
</form>