<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button onclick="tz()">Jumping</button>
<script>
function tz(){
    window.location.href='/login';

}
</script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
