<form action="/auth/openid" method="post">
    <div>
        <input type="text" name="openid_identifier" value='https://openid.nus.edu.sg' hidden/><br/>
    </div>
    <div>
        <input type="submit" value="Sign In"/>
    </div>
</form>