<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hello, <%= profile.displayName %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/stylesheets/theme1/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/stylesheets/theme1/custom.min.css">
</head>
<body>
	<style>  
		.col-center-block {  
			float: none;  
			display: block;  
			margin-left: auto;  
			margin-right: auto;  
		}  
	</style>  
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">RVRC BOOKING</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-main" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a>Hi, <%= profile.displayName %></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
		<% if (groupID == false) { %>
				<h1>You are currently groupless</h1>
		<% } else { %>
				<h1>You are currently in Group <%=groupID%></h1>
		<% } %>
			</div>
		</div>	
		<div class="row">
			<div class="col-lg-7">
			<p>
				<a class="btn btn-warning" href="/logout">Logout</a>
			</p>
			<% if (inviteButton == true) { %>
			<p>
				<a class="btn btn-default" href="/viewBooking">View booking info</a>
			</p>
			<% } %>
			<% if (StartButton == true) { %>
			<p>
				<a class="btn btn-primary" href="/startAGroup">Start a Group</a>
			</p>
			<% } %>
			<% if (JoinButton == true) { %>
			<p>
				<a class="btn btn-success" href="/joinAGroup">Join a Group</a>
			</p>
			<% } %>
			<% if (inviteButton == true) { %>
			<p>
				<a class="btn btn-info" href="/inviteMembers">Invite Members</a>
			</p>
			<% } %>
			<% if (dismissButton == true) { %>
			<p>
				<a class="btn btn-danger" href="/dismissAGroup">Dismiss Your Group</a>
			</p>
			<% } %>
			</div>
		</div>
		<% include footer.ejs %>
	</div>
	<script src="/stylesheets/theme1/jquery-1.10.2.min.js"></script>
	<script src="/stylesheets/theme1/bootstrap.min.js"></script>
	<script src="/stylesheets/theme1/custom.js"></script>
</body>
</html>