<!DOCTYPE html>
<html>
  <head>
    <title> Successful Booking </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <p>Congratulation! You hv grabbed ur room. </p>
  <p>Booking info: </p>
  <p>Name: <%= profile.displayName %></p>
  <p>Email: <%= profile.emails[0].value %></p>
  <p>Room Number: <%= content.roomnumber %></p>
  <p>Status:  <% if(table[0].Status != 0) { %>
        <p id="Status" style="color:red"> You've booked this room</p>
     <% } else { %>
        <p id="Status" style="color:green"> Available for booking</p>
     <% } %></p>
  <p>Time Booked: <%= table[0].TimeModified %></p>


    <button onclick="tz()">logout</button>
    <script>
    function tz(){
        window.location.href='/logout';

    }
    </script>

    <button onclick="cd()">cancel booking</button>
    <script>
    function cd(){
        window.location.href='/cancelBookingConfirm';

    }
    </script>

    <button onclick="v()">view booking info</button>
    <script>
    function v(){
        window.location.href='/viewBooking';

    }
    </script>

    <button onclick="z()">view general info</button>
    <script>
    function z(){
        window.location.href='/info';

    }
    </script>
    
  </body>
</html>