<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hello, <%= profile.displayName %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/stylesheets/theme1/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/stylesheets/theme1/custom.min.css">
</head>
<body>
	<style>  
		.col-center-block {  
			float: none;  
			display: block;  
			margin-left: auto;  
			margin-right: auto;  
		}  
	</style>  
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">RVRC BOOKING</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-main" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a>Hi, <%= profile.displayName %></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-center-block">
				<div class="jumbotron">
					<form class="form-horizontal" action="/manageGroup", method="POST">
						<fieldset>
							<legend>Register Form</legend>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="username">User</label>
								<div class="col-lg-10">
									<input id="username" name='username' class="form-control" value='<%=profile.displayName%>' type="text" disabled>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="useremail">Email</label>
								<div class="col-lg-10">
									<input id="useremail" name='useremail' class="form-control" value='<%=profile.emails[0].value%>' type="text" disabled>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="groupname">Group Name</label>
								<div class="col-lg-10">
									<input id="groupname" name='groupname' class="form-control"  type="text" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="member2ID">Member 2 NUSNETS ID</label>
								<div class="col-lg-10">
									<input id="member2ID" name='member2ID' class="form-control"  type="text" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="member2email">Member 2 Email</label>
								<div class="col-lg-10">
									<input id="member2email" name='member2email' class="form-control"  type="text" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="member3ID">Member 3 NUSNETS ID</label>
								<div class="col-lg-10">
									<input id="member3ID" name='member3ID' class="form-control"  type="text" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="member3email">Member 3 Email</label>
								<div class="col-lg-10">
									<input id="member3email" name='member3email' class="form-control"  type="text" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="member4ID">Member 4 NUSNETS ID</label>
								<div class="col-lg-10">
									<input id="member4ID" name='member4ID' class="form-control"  type="text">
								</div>
							</div>							
							<div class="form-group">
								<label class="col-lg-2 control-label" for="member4email">Member 4 Email</label>
								<div class="col-lg-10">
									<input id="member4email" name='member4email' class="form-control"  type="text" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="member5ID">Member 5 NUSNETS ID</label>
								<div class="col-lg-10">
									<input id="member5ID" name='member5ID' class="form-control"  type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" for="member5email">Member 5 Email</label>
								<div class="col-lg-10">
									<input id="member5email" name='member5email' class="form-control"  type="text">
								</div>
							</div>
							<p>
								(optional if your group does not have a fifth member)
							</p>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button class="btn btn-primary" type="submit">Submit</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>	
			</div>
		</div>
		<% include footer.ejs %>
	</div>
	<script src="/stylesheets/theme1/jquery-1.10.2.min.js"></script>
	<script src="/stylesheets/theme1/bootstrap.min.js"></script>
	<script src="/stylesheets/theme1/custom.js"></script>
</body>
</html>